<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <div class="container">
    <title>RandomPairs</title>
    <h2>Random pairs</h2>
    </head>

<body>

    <%=yield%>

</body>
    </div>
