<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/randompair.js"></script>
</head>


<div class="container">

<form method="post" action="/pairs">

    <div id="duh">

    </div>

    <input type="submit" id="press" value="Submit">

</form>

<div class="btns">
    <button onclick="pushy()" id="button1">Add names</button>
    <button onclick="pully()" id="button2">Remove names</button>
</div>

<div class="answer">
<%=result%>
</div>

</div>
