#button1 {
    background-color: black;
    outline-width: medium;
    ouline-color: red;
    outline style: double;
    color: gold;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
}

#button2 {
    background-color: black;
    color: gold;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 15px 10px;
}

#press {
    background-color: black;
    color: gold;
    padding: 5px 13px 5px 13px;
    text-align: center;
    border-radius: 15px;
    border-style: ridge;
    border-width: 10px 10px 10px 10px;
    font-size: 45px;
    margin: 8px 0px 0px 0px;
  }

.answer {
    font-family: Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      margin: 10px 0px 25px 0px;
}
